{% extends "__base__.html" %}
{% block content %}


    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="dodaj">
    </form>
    {#    {% if car_add %}#}
    {#        <p></p>#}
    {#        <ul>#}
    {#            <li>{{ .mark }}</li>#}
    {#            <li>{{ .car_model }}</li>#}
    {#            <li>{{ .engine }}</li>#}
    {#            <li>{{ .fuel }}</li>#}
    {#            <li>{{ .vintage }}</li>#}
    {#            <li>{{ .course }}</li>#}
    {#        </ul>#}
    {#    {% endif %}#}

{% endblock content %}