{% extends "__base__.html" %}
{% block content %}
    <div class="container-fluid">
        <h1 class="strong">Aplikacja do zarządziania kosztami napraw samochodów</h1>
    </div>


    <div class="container-fluid ">
        <div class="container-fluid  p-3 my-3 bg-dark text-white">
            <h4>Panel aut</h4><br/>
            <button type="button" class="btn btn-success btn-lg"><a href="/add_car" class="text-white">Dodaj auto</a>
            </button>

            <button type="button" class="btn btn-danger btn-lg"><a href="/car_remove" class="text-white">Usuń auto</a>
            </button>

            <button type="button" class="btn btn-info btn-lg"><a href="/car_all" class="text-white">Wyświetl auta</a>
            </button>


        </div>


        <div class="container-fluid  p-3 my-3 bg-dark text-white">
            <h4>Panel warsztatów</h4><br/>
            <button type="button" class="btn btn-success btn-lg"><a href="/workshop_add" class="text-white">Dodaj
                warsztat</a></button>
            <button type="button" class="btn btn-danger btn-lg"><a href="/workshop_remove" class="text-white">Usuń
                warsztat</a></button>
        </div>


        <div class="container-fluid  p-3 my-3 bg-dark text-white">
            <h4>Panel właściciela</h4><br/>
            <button type="button" class="btn btn-success btn-lg"><a href="/owner_add" class="text-white">Dodaj
                właściciela</a></button>
            <button type="button" class="btn btn-danger btn-lg"><a href="/owner_remove" class="text-white">Usuń
                warsztat</a></button>
        </div>


        <div class="container-fluid  p-3 my-3 bg-dark text-white">
            <h4>Panel napraw</h4><br/>
            <button type="button" class="btn btn-success btn-lg"><a href="/repair_add" class="text-white">Dodaj
                naprawę</a>
            </button>
            <button type="button" class="btn btn-danger btn-lg"><a href="/repair_remove" class="text-white">Usuń
                naprawę</a></button>
        </div>

    </div>



{% endblock content %}