{% extends "__base__.html" %}
{% block content %}

    <div class="container-fluid justify-content-center">
        <div class="row row-cols-2">
            <div class="col-2">
                <button type="button" class="btn btn-dark btn-lg"><a href="/add_car">Dodaj auto</a></button>
            </div>

            <div class="col-2">
                <button type="button" class="btn btn-dark btn-lg"><a href="/workshop_add">Dodaj warsztat</a></button>
            </div>

            <div class="col-2">
                <button type="button" class="btn btn-dark btn-lg"><a href="/owner_add">Dodaj właściciela</a></button>
            </div>

            <div class="col-2">
                <button type="button" class="btn btn-dark btn-lg"><a href="/repair_add">Dodaj naprawę</a></button>
            </div>
        </div>
    </div>




{% endblock content %}