{% extends "__base__.html" %}
{% block content %}

    <h1>Aplikacja do zarządziania kosztami napraw samochodów</h1>


    <div class="container-fluid">
        <h4>Panel aut</h4><br/>
        <button type="button" class="btn btn-dark btn-lg"><a href="/add_car">Dodaj auto</a></button>
        <button type="button" class="btn btn-dark btn-lg"><a href="/car_remove">Usuń auto</a></button>
    </div>
    <br/>
    <div class="container-fluid">
        <h4>Panel warsztatów</h4><br/>
        <button type="button" class="btn btn-dark btn-lg"><a href="/workshop_add">Dodaj warsztat</a></button>
    </div>
    <br/>
    <div class="container-fluid">
        <h4>Panel właściciela</h4><br/>
        <button type="button" class="btn btn-dark btn-lg"><a href="/owner_add">Dodaj właściciela</a></button>
    </div>
    <br/>
    <div class="container-fluid">
        <h4>Panel napraw</h4><br/>
        <button type="button" class="btn btn-dark btn-lg"><a href="/repair_add">Dodaj naprawę</a></button>
    </div>


{% endblock content %}