{% extends "__base__.html" %}
{% block content %}


    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Imie</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Marka/Model/ID</th>
        </tr>
        </thead>
        <tbody>
        {% for owners in owner %}
            <tr>
            <th scope="row">{{ owners.id }}</th>
            <td>{{ owners.name }}</td>
            <td>{{ owners.last_name }}</td>
            <td>{{ owners.car.get }} </td>
        {% empty %}
            <td>Brak danych do wyświetlenia</td>
        {% endfor %}
        </tr>
        </tbody>
    </table>


{% endblock content %}