{% extends "__base__.html" %}
{% block content %}


    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="dodaj">
    </form>
    {% if workshop_add %}
        <ul>
            <li>{{ workshop_add.name }}</li>
            <li>{{ workshop_add.phone_number }}</li>
            <li>{{ workshop_add.address }}</li>
            <li>{{ workshop_add.note }}</li>
            <li>{{ workshop_add.prices }}</li>
            <li>{{ workshop_add.short_description }}</li>
        </ul>
    {% endif %}

{% endblock content %}